<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Head Section Begin -->
    <div th:replace="fragments :: head"></div>
    <!-- Head Section End -->
</head>

<body>

<!-- Nav Section Begin -->
<div th:replace="fragments :: nav"></div>
<!-- Nav Section End -->

<!-- Section Section Begin -->
<div th:replace="fragments :: sec2"></div>
<!-- Section Section End -->

    <div id="site">
     <main>
        <section>
            <h2>I miei items VENDO (section)</h2>
            <article>article<h3>Il primo item (Lorenzo) <time datetime="2019-10-21">21/10/2019</time>, testo uno due tre ...</h3></article>
            <article>article<h3>Il secondo item (Lorenzo) <time datetime="2019-10-22">22/10/2019</time>, testo due tre quattro ...</h3></article>
            <article>article<h3>Il terzo item (Patrick) <time datetime="2019-10-23">24/10/2019</time>, testo tre quattro cinque ...</h3></article>
        </section>
        <section>
            <h2>I miei items COMPRO (section)</h2>
            <article>article<h3>Il primo item (autore1) <time datetime="2018-11-14">14/11/2018</time>, testo uno due tre ...</h3></article>
            <article>article<h3>Il secondo item (autore2) <time datetime="2018-11-13">13/11/2018</time>, testo due tre quattro ...</h3></article>
            <article>article<h3>Il terzo item (autore3) <time datetime="2018-11-10">10/11/2018</time>, testo tre quattro cinque ...</h3></article>
        </section>
     </main>
     <aside>
        <h2>La mia barra laterale aside vendocompro ITEMS <a href="http://www.supsi.ch">SUPSI</a></h2>
     </aside>
    </div>


<!-- Footer Section Begin -->
<div th:replace="fragments :: footer"></div>
<!-- Footer Section End -->


</body>

</html>
